
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>您所要查看对应地区的保健医生</title>
    <hdjs/>
    <style type="text/css">
        #duihao{
            color: green;
            font-weight: 800;
            font-size: 12px;
        }
        #cuohao{
            color:red;
            font-weight: 800;
            font-size: 12px;
        }
    </style>
    <js file="__CONTROLLER_VIEW__/Js/js.js"/>
    <script src="__CONTROLLER_VIEW__/js/jquery-1.7.min.js" type="text/javascript"></script>
<script src="__CONTROLLER_VIEW__/js/Area.js" type="text/javascript"></script>
<script src="__CONTROLLER_VIEW__/js/AreaData_min.js" type="text/javascript"></script>


</head>
<body>
<div class='menu_list'>
    <ul>
        <li>
            <a href="{|U:'add'}">添加保健医生</a>
        </li>
        <li>
            <a href="{|U:'chakan'}">查看保健医生</a>
        </li>
    </ul>
</div>

<table class='table2'>
    <thead>
    <tr>
        <td class=''>医生名称</td>
        <td class="">医院等级</td>
        <td class=''>联系电话</td>
        <td class="">医院类型</td>
        <td class="">后台管理账号</td>
        <td class="">后台管理密码</td>
        <td class="">操作</td>
    </tr>
    </thead>
    <tbody>
    <list from="$yy" name="$y">
        <tr>
            <td style="display:none;">{$y.nid}</td>
            <td>{$y.yiyuanname}</td>
            <td>{$y.yiyuandengji}</td>
            <td>{$y.yishengnumber}</td>
            <td>{$y.yiyuanleixing}</td>
            <td>{$y.yypassword}</td>
            <td>{$y.yyusername}</td>
            <td>
                <a href="{|U:'edit',array('uid'=>$y['uid'])}">编辑</a> |
                <a href="{|U:'del',array('uid'=>$y['uid'])}" onclick="return confirm('你确定将该代理的代理资格删除么?');">解除合作</a> |
                <a href="">查看其管理用户</a>
            </td>
        </tr>
    </list>
    </tbody>
</table>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/js.js"></script>
<div class='page1'>
   {$page}
</div>
</body>
</html>


















