<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
 	<link rel="stylesheet" href="__VIEW__/index/css/denglu.css">
    <style type="">
    .xiayibu a{
        text-decoration: none;
        /*margin: 0 auto;*/
        color: black
    }
    .lg{
        height: 90px;
    }
    .denglu{
        margin-top: 30px;
    }

    </style>
    <script type="text/javascript" src='__VIEW__/index/js/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src="__VIEW__/index/js/jiaru.js"></script>
    </head>
    <body>
    <!-- 上层透明区块开始 -->
    <div id="ceng"></div>
    <!-- 上层透明区结束 -->

    <!-- 注册步骤区块开始 -->
        <div id="buzhou">
        <span class="chahao"></span>
            <div class="tujie">
                <ul>
                    <li class="tj"><img src="__VIEW__/index/image/one.png" alt=""></li>
                </ul>             
            </div>
            <!-- <img src="image/one.png" alt=""> -->
            <ul class="xuhao">
<!--                 <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li> -->
            </ul>
            <span class='xiayibu'>
                <a href="{|U:'Index/Login/reg'}" id="xiayibu">下一步</a>
            </span>
        </div>
    <!-- 注册步骤结束 -->



    <!-- 注册区块开始 -->
        <div id="one">
            <div class="top_left">
                <img src="__VIEW__/index/image/index.png" alt="">
            </div>
<!--             <div class="top_center">
                热线电话：00000000
            </div> -->
            <div class="bottom_left">
                <img src="__VIEW__/index/image/2.png" alt="">
            </div>
            <span class="xian">
                <img src="__VIEW__/index/image/xian.png" alt="">
            </span>
            <div id="left">
                <ul class="zhuce">
                    <li class="logo">系统登录</li>
<!--                     <li class="lg">卡&nbsp&nbsp&nbsp号：<input type="text" class="shuru" name="kahao"></li> -->
<!--                     <li class="lg" name="password">密&nbsp&nbsp&nbsp码：<input type="text" class="shuru"></li> -->
<!--                     <li class="lg">验证码：<input type="text" class="yanzheng"><span class="yz"><img src="image/yanzheng.png" alt=""></span><a href="" class="huan">换一张</a></li>
                    <li class="lg"><input type="checkbox"><span>十天内面登陆</span></li> -->
                    <li class="lg"><a href="{|U:'Login/login'}" class="denglu"><button class="denglu">登录</button></a></li>
                    <li class="lg"><a href="{|U:'Ysshenqing/index'}" class="denglu"><button class="denglu">申请保健医生</button></a></li>
                    <td>
                        <hr></hr>
                    </td>                       
                    <li class="lg">
                        还未加入网络医院？<button class="dian">加入</button>
                    </li>
                </ul>
            </div>
            
        </div>  
        <!-- 注册区块结束       -->

    </body>